.gameBoard {
  position: relative;
}
.box {
  width : 650px;
  height: 650px;
  position: relative;

}
.tic {
  background-color: yellow;
  width : 200px;
  height: 200px;
  border: 2px solid black;
  display: inline-block;
  text-align: center;
  position: relative;

}
